body{
    background-image: url(https://www.harrypotter.com/_next/static/images/bg@3x-328bf981778daeb859e69c627ff6589f.jpg);
    background-size: cover;
}

#lumas {
    width: 35vw;
    position: fixed;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
}

#lumas {
    animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#cloud1 {
    position: fixed;
    width: 50vw;
    z-index: 4;
    animation: moveRight1 2s ease-out forwards;
}

#cloud2 {
    position: fixed;
    width: 50vw;
    z-index: 5;
    animation: moveRight2 2s ease-out forwards;

}#cloud3 {
    position: fixed;
    top: 10vh;
    width: 50vw;
    z-index: 4;
    animation: moveRight3 2s ease-out forwards;

}#cloud4 {
    position: fixed;
    left: 10vw;
    width: 50vw;
    z-index: 4;
}


@keyframes moveRight1 {
    from {
    left: 10vw;

    }

    to {
    left:-5vw ;
    }
}

@keyframes moveRight2 {
    from {
    top: 27vh;
    left: 30vw;


    }

    to {
    top: 35vh;

    left:38vw ;
    }
}
@keyframes moveRight3 {
    from {
    left: 40vw;


    }

    to {
    left:50vw ;
    }
}
